.container-fluid {
    background-color: #e3f2fd;
}

.top-line {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 }

 .admin-actions {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

 .admin-action-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }