.pagesBackground {
    background: #FFF;
}

.container-fluid {
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
}

.top-line {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.admin-actions {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.admin-action-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}