#loginPage {
    height: 100vh;
    /* background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%); */
}

.loginPadding {
    padding-top: 10%;
}

.loginPadding2 {
    padding-top: 18%;
}

#loginForm, #groupForm {
    background-color: white;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgba(0, 0, 0, 0.6);
    padding: 4% 6% 4% 6%;
}

#loginForm h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

#loginh1 {
    color: #4285F4;
}

#grouph1 {
    color: #4285F4;
    margin-bottom: 15%;
}

#loginButton {
    background-color: #4285F4;
    margin-top: 2%;
}

#groupButton {
    background-color: #4285F4;
    margin-top: 3%;
}

.largeInput {
    min-width: 21em;
}

.alertTop {
    top: 40px;
    left: 25%;
}

.btn-green {
    background-color: rgb(140, 201, 17);
}

.btn-red {
    background-color: rgba(220, 0, 0, 0.8);
}

.btn-main {
    background-color: rgba(0, 121, 201, 0.13);
}

.btn-yellow {
    background-color: #FFCC42;
}

.btn-boring-blue {
    background-color: #99cff0;
}

/*not to show arrows on input of type number */

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.footerBottom {
    padding-bottom: 50px;
}

.btn-active {
    border-color: rgb(0, 122, 201);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    /* padding-bottom: 50px; */
}

.page-name {
    /* color: #39ADB4; */
    /* color: #4285F4; */
    /* color: #1F2124; */
    color: #666666;
}

.btn-text {
    color: #212529;
}

.btn-text:hover {
    color: #4285F4;
}

.table-text {
    text-transform: uppercase;
}

label.label-form {
    font-weight: 700;
}