#loginPage {
    height: 100vh;
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
}

#loginForm,
#groupForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 4% 0% 4% 4%;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgba(0, 0, 0, 0.6);
    padding: 3% 3% 3% 3%;
}

#loginh1 {
    color: #4285F4;
    margin-bottom: 15%;
}

#grouph1 {
    color: #4285F4;
    margin-bottom: 15%;
}

#loginButton {
    background-color: #4285F4;
    margin-top: 10%;
}

#groupButton {
    background-color: #4285F4;
    margin-top: 3%;
}

.largeInput {
    min-width: 21em;
}

.alertTop {
    top: 40px;
    left: 25%;
}

.btn-green {
    background-color: rgb(140, 201, 17);
}

.btn-red {
    background-color: #b90d0d;
}

.btn-main {
    background-color: rgba(0, 121, 201, 0.13);
}

.btn-yellow {
    background-color: #FFCC42;
}