#loginPage {
    height: 100vh;
    background-color: #007ac9;
    color: #a2dbfc;
    margin: 0;
}

.loginPadding {
    padding-top: 10%;
}

.loginPadding2 {
    padding-top: 18%;
}

#loginForm {
    background-color: white;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgba(0, 0, 0, 0.6);
    padding: 4% 6% 4% 6%;
}

#loginForm h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

#loginh1 {
    color: #4285F4;
}

#loginButton {
    background-color: #4285F4;
    margin-top: 2%;
}

/*not to show arrows on input of type number */

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

.page-name {
    color: #666666;
}

.table-text {
    text-transform: uppercase;
}

.button-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.fixedTable {
    table-layout: fixed;
}

.templatemo-edit-btn, .templatemo-edit-btn-danger {
    border: 1px solid #ddd;
    border-radius: 3px;
    color: black;
    padding: 5px 15px;
    transition: all 0.3s ease;
}