/*

Visual Admin Template

https://templatemo.com/tm-455-visual-admin



TABLE OF CONTENT
	1. Universal Styles
	2. Left Column
	3. Right Column
	5. Login
	6. Manage Users
    
----------------------------------------------*/

/* 1. Universal Styles
----------------------------------------------*/

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 13px;
}

.templatemo-left-nav, .templatemo-site-header, .templatemo-sidebar {
    background: #1f2124;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 1.6em;
}

h3 {
    color: #7f7f7f;
    font-size: 1.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

nav li, .left-nav-link {
    font-size: 1.1em;
    list-style: none;
    text-transform: uppercase;
}

.white-bg {
    background-color: white;
}

.light-gray-bg {
    background-color: #efefef;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

footer {
    padding: 15px;
}

/* 2. Left Column
-----------------------------*/

.templatemo-sidebar {
    width: 300px;
    min-height: 100vh;
}

.templatemo-site-header {
    padding: 25px 30px;
}

/* Search form */

.form-control:focus {
    border-color: #4285F4;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(66, 133, 244, .075), 0 0 8px rgba(66, 133, 244, .6);
}

.left-nav-link:hover, .left-nav-link.active {
    background: #18191b;
    border-left: 8px solid #4285F4;
    text-decoration: none;
}

.left-nav-link {
    font-weight: 300;
    color: #e9e9ea;
    display: block;
    padding: 30px;
    transition: all 0.3s ease;
}

.templatemo-left-nav .fa {
    margin-right: 15px;
}

/* 3. Right Column
------------------------------*/

.templatemo-top-nav-container {
    background-color: white;
    padding: 28px 50px;
    box-shadow: 0px 0px 2px 2px rgba(161, 159, 159, 0.18);
}

.templatemo-top-nav li {
    float: right;
    list-style: none;
}

.templatemo-top-nav a, .templatemo-top-nav button, .templatemo-top-nav p {
    color: #7f7f7f;
    display: block;
    padding: 0 50px;
}

.templatemo-top-nav p {
    border-right: 2px solid #c5c5c5;
}

.templatemo-top-nav li:last-child a {
    border-left: 2px solid #c5c5c5;
}

.templatemo-top-nav a:hover, .templatemo-top-nav a.active, .templatemo-top-nav button:hover {
    color: #4285F4;
}

/* Main Content Area */

.templatemo-content {
    margin-top: 0px;
    min-height: 600px;
    padding: 0;
    overflow-x: hidden;
}

.templatemo-content-container {
    padding: 40px 50px;
}

.templatemo-flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Content Widget */

.templatemo-content-widget {
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin: 10px;
    box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
}

.templatemo-content-widget.no-padding {
    padding: 0;
}

.panel-default>.panel-heading {
    background-color: #4285F4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 15px;
}

.panel {
    border-radius: 10px;
}

.table {
    margin-bottom: 0;
}

.table>tbody>tr>td {
    padding: 10px 15px;
}

.table>thead>tr>td {
    padding: 15px;
}

/* 5. Login
------------------------------*/

.templatemo-login-form .form-group {
    margin-bottom: 20px;
}

.templatemo-login-form .form-group:last-child {
    margin-bottom: 0;
}

.btn-primary {
    border-radius: 2px;
    background-color: #4285F4;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #007AC9;
}

.templatemo-blue-button, .templatemo-blue-button-disabled {
    border-radius: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.templatemo-blue-button {
    background-color: #4285F4;
    border: none;
    color: white;
}

.templatemo-blue-button-disabled {
    background-color: #4286f4bd;
    border: none;
    color: white;
}

.templatemo-blue-button:hover {
    background-color: #007AC9;
}

.checkbox label {
    padding-left: 0;
}

/* Style checkboxes and radio buttons */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 26px;
    height: 25px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/checkbox-radio-sheet.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url(../images/checkbox-radio-sheet.png) -26px top no-repeat;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 26px;
    height: 25px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/checkbox-radio-sheet.png) -52px top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background: url(../images/checkbox-radio-sheet.png) -78px top no-repeat;
}

​​​​​​​​
/* 6. Manage Users
------------------------------*/

.templatemo-edit-btn, .templatemo-edit-btn-danger {
    border: 1px solid #ddd;
    border-radius: 3px;
    color: black;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

.templatemo-edit-btn:hover {
    background-color: #4285F4;
    border: 1px solid #4285F4;
    color: white;
}

.templatemo-edit-btn-danger:hover {
    background-color: #ff4444;
    border: 1px solid #ff4444;
    color: white;
}

.templatemo-user-table thead {
    background-color: #4285F4;
    color: white;
}

.panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.panel>.table:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}